<table>
	<thead>
    <tr>
      <th colspan="8">Employee Details</th>
    </tr>
		<tr>
			<th>Name</th>
      <th>ID</th>
      <th>Designation</th>
      <th>DOB</th>
      <th>Address</th>
      <th>Mobile Number</th>
      <th>Email ID</th>
      <th>Added By</th>
		</tr>
	</thead>
  <tbody>
    <!-- form to add employee details -->
    <tr>
      <td><input type="text" placeholder="First Name" /><br/><input type="text" placeholder="Last Name" /></td>
      <td><input type="text" placeholder="Employee ID"/><br/></td>
      <td><input type="text" placeholder="Designation"/><br/></td>
      <td><input type="date" placeholder="DOB"/><br/></td>
      <td><textarea placeholder="Address"></textarea><br/></td>
      <td><input type="text" placeholder="Mobile Number"/><br/></td>
      <td><input type="text" placeholder="Email ID"/><br/></td>
      <td><input type="text" placeholder="Added By" disabled ng-bind="{{loggedInUser.name}}"/><br/></td>
    </tr>
  </tbody>
</table>