<!-- login form template -->
<form name="loginForm" class="login-form">
  <label>
    <span>User name</span>
    <input type="text" name="userName" ng-model="user.name" required>
  </label>
  <div role="alert">
    <span class="error" ng-show="loginForm.userName.$error.required">
       Required!</span>
    <!-- <span class="error" ng-hide="loginForm.userName.$error.required">
       {{user.name}}</span> -->
  </div>
  <label>
    <span>Password</span>
    <input type="password" name="password" ng-model="user.password" required>
  </label>
  <div role="alert">
    <span class="error" ng-show="loginForm.password.$error.required">
       Required!</span>
  </div>
</form>
